<% menu_data = build_menu_data( @page&.section ) %>
<ul>
<% unless menu_data[ :pages ][ :top_sections ].blank? %>
  <% menu_data[ :pages ][ :top_sections ].each do |menu_top_section| %>
  <li>
    <%= link_to menu_top_section.name, url_for( "/#{menu_top_section.slug}" ) %>
  </li>
  <% end %>
<% end %>

<% unless menu_data[ :pages ][ :top_pages ].blank? %>
  <% menu_data[ :pages ][ :top_pages ].each do |menu_top_page| %>
  <li>
    <%= link_to menu_top_page.name, url_for( "/#{menu_top_page.slug}" ) %>
  </li>
  <% end %>
<% end %>
</ul>

<%# TODO: Pretty sure this is all broken within sections/subsections %>
<% unless menu_data[ :pages ][ :sections ].blank? %>
<ul>
  <% menu_data[ :pages ][ :sections ].each do |menu_section| %>
  <li>
    <%= link_to menu_section.name, url_for( "/pages/#{menu_section.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>

<% unless menu_data[ :pages ][ :pages ].blank? %>
<ul>
  <% menu_data[ :pages ][ :pages ].each do |menu_page| %>
  <li>
    <%= link_to menu_page.name, url_for( "/pages/#{menu_page.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>
