<% @page_title = t( 'admin.pages.list_pages' ) %>

<table class="list">
  <% if @tl_pages.any? %>
  <tr>
		<th colspan="2">
			Top-level pages
		</th>
	</tr>
  <% @tl_pages.each do |page| %>
	<tr class="showfocus">
    <% if page.hidden %>
    <td class="hidden">
    <% else %>
    <td>
    <% end %>
			<%= page.name %>
		</td>
		<td class="actions">
      <%= link_to 'View', url_for( "/pages/#{page.slug}" )   %>
      <%= link_to 'Edit', url_for( admin_page_path( page ) ) %>
		</td>
	</tr>
  <% end %>
  <% end %>

	<% @tl_sections.each do |section| %>
    <%= render partial: 'section_contents', locals: {
      section: section,
      view_path: '/pages',
      indent: 0.5
    } %>
	<% end %>
</table>
