<ul>
  <li>
    <%= link_to 'Home', url_for( '/' ) %>
  </li>
  <% PageSection.top_level_sections.each do |menu_tl_section| %>
  <li>
    <%= link_to menu_tl_section.name, url_for( "/pages/#{menu_tl_section.slug}" ) %>
  </li>
  <% end %>
</ul>

<ul>
  <% Page.top_level_pages.each do |menu_tl_page| %>
  <li>
    <%= link_to menu_tl_page.name, url_for( "/pages/#{menu_tl_page.slug}" ) %>
  </li>
  <% end %>
</ul>
