      <section>
        <header>
          <h2>
            <%= link_to t( '.recent_posts' ), shiny_blog.view_blog_path %>
          </h2>
        </header>
        <ul>
          <% ShinyBlog::Post.recent.limit(10).each do |sidebar_blog_post| %>
          <li>
            <%= link_to sidebar_blog_post.title, sidebar_blog_post.path %>
          </li>
          <% end %>
        </ul>
      </section>

      <section>
        <header>
          <h2>
            <%= t( '.links' ) %>
          </h2>
        </header>
        <p>
          <%= t( '.links_blurb' ) %>
        </p>
        <ul>
          <li><a href="#">Another list</a></li>
          <li><a href="#">Of links</a></li>
          <li><a href="#">To friends and</a></li>
          <li><a href="#">Affiliated sites</a></li>
        </ul>
      </section>
