<section style="margin-left: <%= depth %>em;">
  <p>
    <i><%= t( 'shinycms.comments.hidden' ) %></i>
  </p>

  <%= render partial: 'discussions/comment/moderation_links', locals: { comment: comment } %>
</section>
