# Secret stuff!
/config/master.key
/config/credentials.yml.enc

# Sprockets/Webpacker
/public/assets
/public/packs
/public/packs-test

# ActiveStorage
/storage/

# Test output
/coverage/
/spec/reports/
/spec/examples.txt

# Log files
/log/*.log

# JavaScript droppings
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Cache and other gank
/tmp/

# The .env*.local files are for overriding ENV settings, including passwords etc
.env.development.local
.env.test.local
.env.production.local
.env.local
.env

# Unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
