          <div id="banner">
            <div class="container">
              <div class="row">
                <div class="col-6 col-12-medium">
                  <!-- Banner Copy -->
                    <p>We do something really useful, important, and unique. Learn all about it here ...</p>
                    <a href="#" class="button-large">Go on, click me!</a>
                </div>
                <div class="col-6 col-12-medium imp-medium">
                  <!-- Banner Image -->
                    <a href="#" class="bordered-feature-image"><img src="images/halcyonic/banner.jpg" alt="" /></a>
                </div>
              </div>
            </div>
          </div>
