        <!-- Header -->
        <section id="header">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <!-- Logo -->
                <h1><a href="index.html" id="logo"><%= @site_name %></a></h1>

                <%= render partial: 'themes/halcyonic/includes/menu' %>
              </div>
            </div>
          </div>

          <%= render partial: 'includes/messages' %>

          <% if @viewing_homepage %>
            <%= render partial: 'themes/halcyonic/includes/banner' %>
          <% end %>
        </section>
