								<% menu_data = build_menu_data( @page&.section ) %>
								<nav id="nav">
									<% unless menu_data[ :pages ][ :top_sections ].blank? %>
									  <% menu_data[ :pages ][ :top_sections ].each do |menu_top_section| %>
									    <%= link_to menu_top_section.name, url_for( "/#{menu_top_section.slug}" ) %>
									  <% end %>
									<% end %>

									<% unless menu_data[ :pages ][ :top_pages ].blank? %>
									  <% menu_data[ :pages ][ :top_pages ].each do |menu_top_page| %>
									    <%= link_to menu_top_page.name, url_for( "/#{menu_top_page.slug}" ) %>
									  <% end %>
									<% end %>
								</nav>
