<%
  return unless feature_enabled? :comments
  return unless post.discussion.present?
  return unless post.discussion.show_on_site?
%>

<% if post.discussion.locked? %>
  <%= t( 'shinycms.discussions.n_comments', count: post.discussion.comments.visible.count ) %>
<% else %>
  <a onclick="toggleHidden('comment_form')"><%= t( 'shiny_blog.blog.show.reply' ) %></a>
  <% if post.discussion.comments.visible.count > 0 %>
    (<%= t( 'shinycms.discussions.n_comments', count: post.discussion.comments.visible.count ) %>)
  <% end %>
<% end %>
