# frozen_string_literal: true

# namespace :<%= underscored_name %> do
#   desc 'ShinyCMS: Short explanation of what this task does, for rails --tasks output'
#   task task_name: %i[ environment dotenv ] do
#     # Task goes here
#   end
# end
