<% @page_title = t( '.title' ) %>

<% if @top_level_items.present? %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th class="width25pc">
        Page / Section
      </th>
      <th class="width50pc">
      </th>
      <th class="width25pc">
      </th>
    </tr>
  </thead>

  <% @top_level_items.each do |top_level_item| %>
    <%= render partial: 'page_item', locals: {
      page_item: top_level_item,
      view_path: '',
      indent: 0.5
    } %>
  <% end %>
</table>

<% else %>
<p>
  There are currently no pages or sections to display.
</p>
<% end %>
