<% @page_title = t( 'admin.pages.list_templates' ) %>

<table class="list">
  <% @templates.each do |template| %>
	<tr class="showfocus">
		<td>
			<%= template.name %>
		</td>
		<td class="actions">
			<%= link_to t( 'admin.edit' ), url_for( admin_pages_template_path( template ) ) %>
      <%= link_to t( 'admin.delete' ), admin_pages_template_delete_path( template ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
		</td>
	</tr>
	<% end %>
</table>
