<% @page_title = 'List templates' %>

<table class="list">
  <% @templates.each do |template| %>
	<tr class="showfocus">
		<td>
			<%= template.name %>
		</td>
		<td class="actions">
			<%= link_to 'Edit', url_for( controller: '/admin/pages/templates',
                                   action: 'edit', id: template ) %>
		</td>
	</tr>
	<% end %>
</table>
