<% @page_title = t( 'admin.pages.list_templates' ) %>

<table class="list">
  <% @templates.each do |template| %>
	<tr class="showfocus">
		<td>
			<%= template.name %>
		</td>
		<td class="actions">
			<%= link_to 'Edit', url_for( admin_pages_template_path( template ) ) %>
		</td>
	</tr>
	<% end %>
</table>
