<% frozen_string_literal: true %>

<% @page_title = t( '.title' ) %>

<section>
  <header>
    <h2>
      <%= @page_title %>
    </h2>
    <p>
      TODO: search form :)
    </p>
  </header>
</section>
