// ShinyCMS ~ https://shinycms.org
//
// Copyright 2009-2021 Denny de la Haye ~ https://denny.me
//
// ShinyCMS is free software; you can redistribute it and/or modify it under the terms of the GPL (version 2 or later)

// Additional styles & overrides for the ShinyCMS Halcyonic theme

$blue:              #2668ac;
$light-blue:        #368aee;
$lighter-blue:      #99ddff;
$lightest-blue:     #aaeeff;

$red:               #ed391b;
$light-red:         #fd492b;
$dark-red:          #de2a10;
$darker-red:        #ce1a00;

$white:             #fff;
$lighter-grey:      #e8e8e8;
$light-grey:        #ccc;
$grey:              #888;
$dark-grey:         #444;
$nearly-black:      #111;
$black:             #000;

$alert-bg:          #ffdddd;
$notice-bg:         #ddffdd;

$button-bg:         $red;
$button-bg-hover:   $light-red;
$button-bg-active:  $darker-red;
$button-text:       $white;


// ===== ( styles that aren't specific to one section ) =====

form div {
  margin:               0.5em 0;
}

input {
  padding:              0 0.3em;
}

a {
  text-decoration:      none;
}

a:hover {
  cursor:               grabbing;
  text-decoration:      underline;
}

.above-section {
  padding-left:         1em;
}

.centered-above-section {
  text-align:           center;
}

.content tr {
  height:               3em;
}

.content td {
  padding:              0.5em;
}

.button {
  background-color: $button-bg;
  background-image: -moz-linear-gradient(top, $button-bg, $button-bg-active);
  background-image: -webkit-linear-gradient(top, $button-bg, $button-bg-active);
  background-image: -ms-linear-gradient(top, $button-bg, $button-bg-active);
  background-image: linear-gradient(top, $button-bg, $button-bg-active);
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75), inset 0 2px 0 0 rgba(255, 192, 192, 0.5), inset 0 0 0 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
  color: $button-text;
  display: inline-block;
  font-weight: 300;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color:$button-bg-hover;
  background-image: -moz-linear-gradient(top,$button-bg-hover, $dark-red);
  background-image: -webkit-linear-gradient(top,$button-bg-hover, $dark-red);
  background-image: -ms-linear-gradient(top,$button-bg-hover, $dark-red);
  background-image: linear-gradient(top,$button-bg-hover, $dark-red);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75), inset 0 2px 0 0 rgba(255, 192, 192, 0.5), inset 0 0 0 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.button:active {
  background-color: $button-bg-active;
  background-image: -moz-linear-gradient(top, $button-bg-active, $red);
  background-image: -webkit-linear-gradient(top, $button-bg-active, $red);
  background-image: -ms-linear-gradient(top, $button-bg-active, $red);
  background-image: linear-gradient(top, $button-bg-active, $red);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.75), inset 0 2px 0 0 rgba(255, 192, 192, 0.5), inset 0 0 0 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
}

textarea {
  height:               6em;
  line-height:          1.25em;
  padding:              0.5em;
  width:                30em;
}


// ===== ( undoing sweeping style resets ) =====

blockquote {
  border-left: 0.2em solid $light-grey;
  padding-left: 0.4em;
}

ul {
  list-style: circle inside;
  margin: 0.4em;
}

nav ul, .sidebar ul, .header ul, .footer ul {
  list-style: none;
  margin: 0;
}

// ===== ( Halcyonic's stylesheet seems to hide various input types ) =====

input[type="checkbox"] {
  -moz-appearance:      checkbox;
  -webkit-appearance:   checkbox;
  appearance:           auto;
}

input[type="radio"] {
  -moz-appearance:      radio;
  -webkit-appearance:   radio;
  appearance:           auto;
}


// ===== ( utility styles ) =====

.right {
  text-align:   right;
}

.float-right {
  float:        right;
}

.no-left-padding {
  padding-left: 0 !important;
}

.smaller {
  font-size:    smaller;
}

.larger {
  font-size:    larger;
}

strong, b {
  font-weight:  bold;
}

.clear-both {
  clear:        both;
}

.fixed {
  font-family:  fixed;
  font-size:    90%;
}

.white-text {
  color:        $white !important;
}

a.button:hover {
  text-decoration: none;
}


// ===== ( main menu ) =====

nav .sm {
  background:           none;
  font-size:            1.2em;
  padding-right:        0;
}

nav .sm a {
  margin:               0 !important;
}

nav .sm li {
  margin:               0 2em 0 0 !important;
}

nav .sm li:last-child {
  margin:               0 !important;
}

nav .sm li ul {
  padding:               0.6em 0;
}

nav .sm li li {
  font-size:            0.75em;
  margin:               0 !important;
  text-shadow:          none;
}

nav .sm li li a {
  color:                $dark-grey !important;
  line-height:          1.2em;
  padding:              0.4em 0.8em;
}

nav .sm li li a:hover {
  color:                $blue !important;
  line-height:          1.2em;
  padding:              0.4em 0.8em;
}


// ===== ( alerts / notices ) =====

.header .alerts {
  background:           $alert-bg;
  border-radius:        3px;
  color:                $nearly-black;
  margin:               0.5em !important;
  padding:              0.5em;
  text-shadow:          none;
}

.header .notices {
  background:           $notice-bg;
  border-radius:        3px;
  color:                $nearly-black;
  margin:               0.5em !important;
  padding:              0.5em;
  text-shadow:          none;
}

// Links in content area

.content a {
  color:                $blue !important;
}


// ===== ( homepage ) =====

.banner p a {
  color:                $lighter-blue;
  text-decoration:      none;
}

.banner p a:hover {
  color:                $lightest-blue;
  text-decoration:      none;
}

.banner .button-large a {
  color:                $button-text;
  text-decoration:      none;
}

.banner-image {
  width:                580px;
}

.bordered-feature-image {
  max-width:            280px;
}

.check-list li,
.quote-list li {
    list-style: none;
}

// ===== ( sidebars ) =====

.sidebar section {
  padding:              1.5em !important;
}

.sidebar header, p {
  margin-bottom:        1em !important;
}

.sidebar a {
  color:                $blue !important;
  text-decoration:      none;
}

.sidebar a:hover {
  color:                $light-blue !important;
}

.sidebar li {
  border-bottom:        solid 1px $lighter-grey;
  padding:              0.2em 0;
}

.sidebar li:first-child {
  border-top:           0 !important;
  padding-top:          0 !important;
}

.sidebar li:last-child {
  border-bottom:        0 !important;
  padding-bottom:       0 !important;
}


// ===== ( links in headers/footers ) =====

.content header a,
.content footer a {
  color:                $blue !important;
  text-decoration:      none;
}

.content header a:hover,
.content footer a:hover {
  color:                $light-blue !important;
}

.sidebar header a {
  color:                $dark-grey !important;
}

.sidebar header a:hover {
  color:                $light-blue !important;
}


// ===== ( blog & news posts ) =====

// If there's an img tag in the first paragraph of the post, style it as a thumbnail
.post p:first-of-type img {
  float:                right;
  margin:               0 1em;
  max-height:           320px;
  max-width:            320px;
}

.post img {
  max-width:            100%;
}

.next-link {
  width:        33%;
}

.prev-link {
  float:        right;
  text-align:   right;
  width:        33%;
}


// ===== ( comments ) =====

.comment {
  padding:              2em 1.5em 0.5em !important;
}

.comment header {
  margin-bottom:       1em !important;
}

.comment footer {
  padding-top:          0.5em !important;
}

.comment h2 {
  font-size:            1.3em !important;
}

.locked {
  color:                $grey;
}


// ===== ( comment form ) =====

.comment_form {
  font-size:            0.9em !important;
}

.comment_form p {
  margin:               0.5em 0 0;
  padding:              0;
}

.comment_form .title {
  width:                62%;
}

.comment_form .author {
  width:                20%;
}


// ===== ( styles for tag clouds and tag lists ) =====

.tagsize1 { font-size: 1em; }
.tagsize2 { font-size: 2em; }
.tagsize3 { font-size: 3em; }
.tagsize4 { font-size: 4em; }

.twelve-columns {
  column-count:         12;
  column-fill:          balance;
  width:                100%;
}


// ===== ( search page ) =====

.algolia-logo img {
  width:                100px;
}


// ===== ( user profiles ) =====

.user-icon {
  border-radius:        3px;
  max-width:            200px;
}

.user-profile-pic {
  border-radius:        5px;
  float:                right;
  max-width:            400px;
}

.user-profile-content {
  display:              none;
}
