<% if flash[ :alert ] %>
<div class="alerts">
  <%= flash[ :alert ] %>
</div>
<% end %>
<% if flash[ :notice ] %>
<div class="notices">
  <%= flash[ :notice ] %>
</div>
<% end %>
<div class="notices">
  <%= controller.view_paths.to_ary.join('<br>').html_safe %>
</div>
