<% route_set ||= nil %>
<% if route_set.present? %>
<%= paginate paged, window: 3, route_set: route_set %>
<% else %>
<%= paginate paged, window: 3 %>
<% end %>
<p id="pager-info">
  <%= page_entries_info paged %>
</p>
