			<section>
				<header>
					<h2>
						Sidebar Section Heading
					</h2>
				</header>
				<p>
					Some intro text for this sidebar section...
				</p>
				<ul>
					<li><a href="#">A list</a></li>
					<li><a href="#">Of links</a></li>
					<li><a href="#">Probably to content</a></li>
					<li><a href="#">Like blog posts</a></li>
					<li><a href="#">Or maybe subpages</a></li>
					<li><a href="#">In this section</a></li>
				</ul>
			</section>

			<section>
				<header>
					<h2>
						Another Sidebar Section
					</h2>
				</header>
				<p>
					Some more intro text.
				</p>
				<ul>
					<li><a href="#">Another list</a></li>
					<li><a href="#">Of links</a></li>
					<li><a href="#">Maybe this time</a></li>
					<li><a href="#">To affiliated sites</a></li>
				</ul>
			</section>
