  <p>
    <%= link_to result.display_name, user_profile_path( result.username ) %>
    <small>
      Last updated at <%= result.updated_at.to_s( :time ) %>
      on <%= result.updated_at.to_s( :shinydate ) %>
    </small>
  </p>
