<% Blog.all.each do |blog| %>
<li>
  <%= link_to blog.name, view_blog_path( blog ) %>
  <ul>
    <% menu_posts = blog.recent_posts %>
    <% menu_posts[0..4].each do |menu_post| %>
    <li>
      <%= link_to menu_post.title, view_blog_post_path( menu_post ) %>
    </li>
    <% end %>
  </ul>
</li>
<% end %>
