<% return # FIXME: More horrific bodgery for Rails 6.1 testing %>
<li>
  <%= link_to t( 'tags.index.title' ), main_app.tags_path %>
  <% menu_tags = ActsAsTaggableOn::Tag.most_used( 5 ) %>
  <% if menu_tags.present? %>
  <ul>
    <% menu_tags.each do |menu_tag| %>
    <li>
      <%= link_to "#{menu_tag.name} (#{menu_tag.taggings_count})", main_app.tag_path( menu_tag.name ) %>
    </li>
    <% end %>
  </ul>
  <% end %>
</li>
