<%# frozen_string_literal: true %>

<% @page_title = t( 'shiny_search.search.new.title' ) %>

<section>
  <header>
    <h2>
      <%= @page_title %>
    </h2>
    <p>
      <%= render partial: 'search/form', locals: { name: 'main_search' } %>
    </p>
  </header>
</section>
