<li>
  <%= link_to t( 'shiny_news.menu.title' ), shiny_news.view_news_path %>
  <ul>
    <% recent_news_posts(5).each do |menu_news_post| %>
    <li>
      <%= link_to menu_news_post.title, menu_news_post.path %>
    </li>
    <% end %>
  </ul>
</li>
