<section>
  <header>
    <h1>
      Page not found
    </h1>
  </header>

  <p>
    The URL you have reached is for a page that does not exist.
  </p>
  <p>
    You can use the search form <%# if Tag.count > 0 %>or the tag list <%# end %>
    below to explore this site for other content that might interest you.
  </p>
</section>

<section>
  <header>
    <h2>
      Search the site
    </h2>
  </header>

  <p>
    <%# TODO: search form %>
  </p>
</section>

<section>
  <header>
    <h2>
      Tags
    </h2>
  </header>

  <p>
    <%# TODO: tag cloud / tag list %>
  </p>
</section>
