<% if @top_level_items.present? %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <% if current_user.can? :edit, :product_sections %>
      <th></th>
      <% end %>
      <th class="longer">
        Name
      </th>
      <th>
        SKU
      </th>
      <th>
        Added / Updated
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody id="live-sortable" data-url="<%= shiny_shop.sort_products_path %>">
  <% @top_level_items.each do |top_level_item| %>
    <%= render partial: 'product_item', locals: {
      product_item: top_level_item,
      view_path: '',
      indent: 0.5
    } %>
  <% end %>
  </tbody>
</table>

<% else %>
<p>
  <%= t( 'shinycms.empty_list', items: ShinyShop::Product.readable_name ) %>
</p>
<% end %>

<%#= render partial: 'admin/includes/pager', locals: { pagy: @pagy, name: @product.name } %>
