<% unless resource.discussion.hidden %>

<h3 class="above-section">
  <%= t( 'discussions.comments' ) %>
</h3>

<% if resource.discussion.top_level_comments.size > 0 %>
  <%= render partial: 'discussions/top_level',
             locals: { comments: resource.discussion.top_level_comments } %>
<% else %>
  <section>
    <p>
      <%= t( 'discussions.zero_comments' ) %>
    </p>
  </section>
<% end %>

<% end %>
