<section style="margin-left: <%= depth %>em;">
  <p>
    <i><%= t( 'discussions.hidden_comment' ) %></i>
  </p>

  <% if current_user_can?( :hide, :comments ) %>
  <footer>
    <p>
      <%= render partial: 'discussions/comment_moderation_links',
                 locals: { comment: comment } %>
    </p>
  </footer>
  <% end %>
</section>
