<div class="float-right smaller">
  Discussion:
  <% if discussion.hidden? %>
    <%= link_to t( 'unhide' ), unhide_discussion_path( discussion ) %>
  <% else %>
    <%= link_to t( 'hide' ), hide_discussion_path( discussion ) %>
  <% end %>
  /
  <% if discussion.locked? %>
    <%= link_to t( 'unlock' ), unlock_discussion_path( discussion ) %>
  <% else %>
    <%= link_to t( 'lock' ), lock_discussion_path( discussion ) %>
  <% end %>
</div>
