<h3>
  Comments
</h3>

<% unless resource.discussion.hidden %>

<% if resource.discussion.top_level_comments.size > 0 %>
  <% depth = 0 %>
  <% resource.discussion.top_level_comments.each do |comment| %>
    <%= render partial: 'discussions/comment', locals: { comment: comment, depth: depth } %>
  <% end %>
<% else %>
  <section>
    <p>
      There are no comments to display yet.
    </p>
  </section>
<% end %>

<%#= link_to t( 'add_comment' ), new_comment_path %>

<% end %>
