<% @page_title = 'Discussions' %>

<h2>
  <%= t( '.most_active' ) %>
</h2>

<% @most_active.each do |discussion| %>
  <section>
    <p>
      <%= link_to discussion.resource.title, discussion.resource.path %>
      (<%= t( 'discussions.n_comments', count: discussion.visible_comments.count ) %>)
    </p>
  </section>
<% end %>
