<% @page_title = 'Discussions' %>

<section>
  <header>
    <h2>
    <%= t( '.most_active' ) %>
    </h2>
  </header>

  <% @most_active.each do |discussion| %>
  <p>
    <%= link_to discussion.resource.title, discussion.resource.path %>
    (<%= t( 'discussions.n_comments', count: discussion.visible_comment_count ) %>)
  </p>
  <% end %>
</section>
