# frozen_string_literal: true

<%= wrap_in_modules <<~rb
  # Base mailer for #{camelized_modules}
  class ApplicationMailer < ShinyCMS::BaseMailer
    def check_feature_flags
      stop!
    end

    def check_ok_to_email
      stop!
    end
  end
rb
%>
