<% if current_user_can?( :view_admin_notes, :users ) && @profile.user.admin_notes.present? %>
<section>
  <header>
    <h3>
      Admin notes
    </h3>
  </header>

  <%= simple_format @profile.user.admin_notes %>
</section>
<% end %>
