<section>
  <% plugins_with_profile_content_templates.each do |plugin_name| %>
  <div style="float: left; padding-right: 2em;">
    <%= render partial: "#{plugin_name}/profile/content" %>
  </div>
  <% end %>

  <div style="float: left; padding-right: 2em;">
    <%= render partial: 'discussions/profile/content' %>
  </div>

  <div class="clear-both"></div>
</section>
