<section class="user-profile-content">
  <% plugins_with_profile_content_templates.each do |plugin| %>
  <div style="float: left; padding-right: 2em;">
    <%= render partial: plugin.partial( 'profile/content' ) %>
  </div>
  <% end %>

  <div style="float: left; padding-right: 2em;">
    <%= render partial: 'discussions/profile/content' %>
  </div>

  <div class="clear-both"></div>
</section>
