<% if @profile == current_user %>
<section>
  <header>
    <h3>
      Private information (only visible to you)
    </h3>
  </header>

  <p>
    Account created: <%= display_date_at_time( @profile.created_at ) %>
  </p>
  <p>
    Last login: <%= display_date_at_time( @profile.last_sign_in_at ) %>
    from <%= @profile.last_sign_in_ip_was %>
  </p>
</section>
<% end %>
