<section>
  <%= render partial: 'blogs/post_title_and_byline', locals: { post: post } %>

  <%= sanitize post.teaser( paragraphs: 3 ) %>

  <footer>
  <% if post.discussion.present? %>
    <%= link_to t( 'discussions.n_comments', count: post.discussion.comments.visible.count ),
                post.path( anchor: 'comments' ) %>
  <% else %>
    <i>Comments have been disabled on this post</i>
  <% end %>
  </footer>
</section>
