  <header>
    <h2>
      <%= link_to post.title, post.path %>
    </h2>
    <h3>
      Posted by <%= user_profile_link( post.author ) %>
      at <%= post.posted_at.to_s( :time ) %>
      on <%= post.posted_at.to_s( :shinydate ) %>
    </h3>
  </header>
