<% @page_title = t( '.title' ) %>

<h2 class="above-section">
  <%= @page_title %>
</h2>

<section>
  <% @blogs.each do |blog| %>
  <p>
    <%= link_to blog.title, view_blog_path( blog ) %> - <%= blog.description %>
  </p>
  <% end %>
</section>
