			<section>
				<header>
					<h2>
						<%= t( '.recent_posts' ) %>
					</h2>
				</header>
				<ul>
					<li><a href="#">A list</a></li>
					<li><a href="#">Of links</a></li>
					<li><a href="#">To recent</a></li>
					<li><a href="#">News posts</a></li>
				</ul>
			</section>

			<section>
				<header>
					<h2>
						<%= t( '.links' ) %>
					</h2>
				</header>
				<p>
					<%= t( '.links_blurb' ) %>
				</p>
				<ul>
					<li><a href="#">Another list</a></li>
					<li><a href="#">Of links</a></li>
					<li><a href="#">To friends and</a></li>
					<li><a href="#">Affiliated sites</a></li>
				</ul>
			</section>
