<% ShinyBlogs::Blog.all.each do |menu_blog| %>
<li>
  <%= link_to menu_blog.name, shiny_blogs.view_blog_path( menu_blog.slug ) %>
  <ul>
    <% menu_posts = menu_blog.posts.recent.limit( 5 ) %>
    <% menu_posts.each do |menu_post| %>
    <li>
      <%= link_to menu_post.title, menu_post.path %>
    </li>
    <% end %>
  </ul>
</li>
<% end %>
