      <section>
        <header>
          <h2>
            <%= link_to t( '.recent_posts' ), shiny_news.view_news_path %>
          </h2>
        </header>
        <ul>
          <% ShinyNews::Post.recent.limit(10).each do |sidebar_news_post| %>
          <li>
            <%= link_to sidebar_news_post.title, sidebar_news_post.path %>
          </li>
          <% end %>
        </ul>
      </section>

      <section>
        <header>
          <h2>
            <%= t( '.links' ) %>
          </h2>
        </header>
        <p>
          <%= t( '.links_blurb' ) %>
        </p>
        <ul>
          <li><a href="#">Another list</a></li>
          <li><a href="#">Of links</a></li>
          <li><a href="#">To friends and</a></li>
          <li><a href="#">Affiliated sites</a></li>
        </ul>
      </section>
