<% @page_title = 'List sections' %>

<table class="list">
  <% @tl_sections.each do |section| %>
		<%= render partial: 'section', locals: {
			section: section,
			view_path: '/pages',
			indent: 1
		} %>
	<% end %>
</table>
