      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/@coreui/coreui@3.0.0-beta.1/dist/js/coreui.min.js"></script>

      <% if sail_controller? %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <%= javascript_include_tag 'sail/application', async: true  %>

      <button id="btn-guide" type="button" class="search-button" style="margin-left: 1em; display: none;">
        <%= I18n.t("sail.guide") %>
      </button>
      <script>
        $( '#btn-guide' ).insertAfter( $( '#btn-profiles' ) ).show()
      </script>

      <% else %>
      <%= javascript_pack_tag 'application' %>
      <%#= javascript_pack_tag 'admin_area' %>

      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <script src="/js/admin-area.js"></script>

      <% end %>
