        <div class="ml-auto">
          Powered by <a href="https://shinycms.org/">ShinyCMS</a>
          (<a href="https://github.com/denny/ShinyCMS-ruby/releases/tag/v<%= ShinyCMS::VERSION %>"><%= ShinyCMS::VERSION %></a>)
        </div>
