<button class="c-header-toggler c-class-toggler d-lg-none mr-auto"   type="button" data-target="#sidebar" data-class="c-sidebar-show"><span class="c-header-toggler-icon"></span></button>
<button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true"><span class="c-header-toggler-icon"></span></button>
<%
  section_path = rails_email_preview.rep_emails_path if plugin_name == 'RailsEmailPreview'
  section_path = blazer.root_path if plugin_name == 'Blazer'
  section_path ||= controller.try( :breadcrumb_section_path )
%>
<%= component 'admin/breadcrumbs',
              controller_name: controller_name,
              plugin_name:     plugin_name,
              page_title:      page_title,
              path:            section_path %>

<%= render partial: 'admin/includes/user_menu' %>
