<%
  name ||= 'Item'
  i18n_key = name.underscore.tr '/', '_'

  if I18n.exists? "shinycms.models.names.#{i18n_key}"
    items = t( "shinycms.models.names.#{i18n_key}" ).pluralize
  elsif I18n.exists? 'shinycms.models.names.item'
    items = t( 'shinycms.models.names.item' ).pluralize
  else
    items = 'items'
  end
%>

<%== pagy.series_nav( :bootstrap ) %>

<p class="pager-info">
  <%== pagy.info_tag item_name: items %>

  <%# TODO: FIXME: Oh look, the JavaScript isn't working. How terribly unusual. %#>
  <br>
  <%#== pagy.items_selector_js %>
</p>
