  <% c = Capability.find_by( name: capability, category: category ) %>
  <% if c.present? %>
    <label>
      <% if @user.can?( c.name.to_sym, c.category.name.to_sym ) %>
      <input type="checkbox" name="user[capabilities[<%= c.id %>]]" checked="checked">
      <% else %>
      <input type="checkbox" name="user[capabilities[<%= c.id %>]]">
      <% end %>
      <% if I18n.exists?( "capability.#{c.category.name}.#{c.name}" ) %>
      <%= t( "capability.#{c.category.name}.#{c.name}" ) %>
      <% else %>
      <%= t( c.name ) %>
      <% end %>
    </label>
  <% end %>
