## Copy this file to an appropriate location, and make your changes there
# They are loaded in the order listed - the first place to define something wins
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local  # not loaded in test environment
# .env        # loaded in all environments

## Access details for your database
DATABASE_URL=postgres://$(whoami):your_db_password@localhost/shinycms
# Blazer powers the web stats dashboard - it should only have read access
BLAZER_DATABASE_URL=postgres://read_only_user:its_password@localhost/shinycms

## Seed for secret keys
# Generate your own with this command: rails secret
SECRET_KEY_BASE=

## ShinyCMS plugins
# Choose which plugins to load (and what order they should appear in menus etc)
# If you leave this blank, all available plugins will be loaded (alphabetically)
SHINYCMS_PLUGINS=ShinyPages,ShinyForms,ShinyInserts,ShinyNews,ShinyBlog,ShinyLists,ShinyNewsletters,ShinySearch,ShinyProfiles

## Bugsnag
# https://app.bugsnag.com/
# BUGSNAG_API_KEY=

## SMTP server details for ActionMailer
# Server address and port
MAILER_ADDRESS=mail.example.com
MAILER_PORT=587
# The username and password for your account
MAILER_USER_NAME=shinycms@example.com
MAILER_PASSWORD=********
# Your email domain name
MAILER_DOMAIN=example.com
## Your website hostname (used to construct links in your emails)
MAILER_HOST=www.example.com

## Google reCAPTCHA
# Used to protect registration and comment forms from automated abuse
# If you provide V2 and V3 keys ShinyCMS will try an 'invisible' V3 reCAPTCHA
# first, falling back to a V2 checkbox reCAPTCHA if the V3 score is too low.
# https://www.google.com/recaptcha/admin
RECAPTCHA_V3_SITE_KEY=6LcEEEEEEEEEEEEEEEEEEE_fffffffffffffffff
RECAPTCHA_V3_SECRET_KEY=6LcGGGGGGGGGGGGGGGGGGG_hhhhhhhhhhhhhhhhh
RECAPTCHA_CHECKBOX_SITE_KEY=6LfAAAAAAAAAAAAAAAAAAA_bbbbbbbbbbbbbbbbb
RECAPTCHA_CHECKBOX_SECRET_KEY=6LfAAAAAAAAAAAAAAAAAAA_ddddddddddddddddd

## Algolia search
# Search-as-a-Service - a limited account is available free for non-commercial sites
# https://www.algolia.com/dashboard
ALGOLIASEARCH_APPLICATION_ID=AA99AA99AA
ALGOLIASEARCH_API_KEY=9999aaaa9999aaaa9999aaaa9999aaaa
ALGOLIASEARCH_API_KEY_SEARCH=aaaa9999aaaa9999aaaa9999aaaa9999

## Disable pg_search (default search backend)
DISABLE_PG_SEARCH=false

## Sidekiq settings
# For these to be used locally, use `tools/shiny-sidekiq-dev` to start Sidekiq via dotenv

# Set number of threads to use
SIDEKIQ_CONCURRENCY=1
# Add prefix to Sidekiq queue names
SIDEKIQ_PREFIX=shinycms
# Disable Sidekiq::Web (web dashboard)
DISABLE_SIDEKIQ_WEB=false

## Akismet
# Used to identify spam comments
# https://akismet.com/account/
# AKISMET_API_KEY=

## AWS S3
# Amazon's cloud storage service
# https://s3.console.aws.amazon.com

# Use AWS S3 to store user-uploaded images (e.g. profile pics)
AWS_S3_FILES_BUCKET=shinycms-files
AWS_S3_FILES_DOMAIN=shinycms-feeds.s3.eu-west-1.amazonaws.com
AWS_S3_FILES_REGION=eu-west-1
AWS_S3_FILES_ACCESS_KEY_ID=01234567890123456789
AWS_S3_FILES_SECRET_ACCESS_KEY=0123456789012345678901234567890123456789

# Use AWS S3 to serve the atom feed from your blog and/or news section
AWS_S3_FEEDS_BUCKET=shinycms-feeds
AWS_S3_FEEDS_DOMAIN=shinycms-feeds.s3.eu-west-1.amazonaws.com
AWS_S3_FEEDS_REGION=eu-west-1
AWS_S3_FEEDS_ACCESS_KEY_ID=12345678901234567890
AWS_S3_FEEDS_SECRET_ACCESS_KEY=1234567890123456789012345678901234567890

## Privacy settings for Ahoy web stats; potentially useful for GDPR compliance
# https://github.com/ankane/ahoy/blob/master/README.md#gdpr-compliance-1
# Set AHOY_MASK_IPS to the string 'true' to mask IP addresses
# (sets the last part of the address to zeros before storing it)
AHOY_MASK_IPS=false
# Set AHOY_LINK_USERS to 'false' to disable automatic linking of visits and users
AHOY_LINK_USERS=true
# Set AHOY_COOKIES to 'false' to use anonymity sets instead of cookies
# https://privacypatterns.org/patterns/Anonymity-set
AHOY_COOKIES=true

# Add app name and (colour-coded!) current environment to the console prompt
PRETTY_PRY_PROMPT=1
