<nav id="breadcrumbs">
  <%= link_to t( 'admin.home' ),  url_for( '/' ) %>
  &raquo;
  <%= link_to t( 'admin.admin' ), url_for( admin_path ) %>
  &raquo;
  <%# TODO: handle nested controllers, e.g. Pages::Sections %>
  <%= link_to controller_name.titlecase,
      url_for( controller: controller_name, only_path: false ) %>
  &raquo;
  <%= @page_title %>
</nav>
