<p>
  This website is powered by <a href="https://shinycms.org/">ShinyCMS</a>
  (<a href="https://shinycms.org/ruby">Ruby version</a>).
</p>
<p>
  ShinyCMS is <a href="http://www.opensource.org/">open source software</a>,
  &copy; 2009-2019 <a href="https://denny.me/">Denny de la Haye</a>. You can
  <a href="https://github.com/denny/ShinyCMS-ruby">download it from GitHub</a>.
</p>
