        <div>
          <a href="https://shinycms.org/">ShinyCMS</a> &copy; 2009-2019
          <a href="https://denny.me/">Denny de la Haye</a>
        </div>
        <div class="ml-auto">
          Powered by&nbsp;<a href="https://shinycms.org/">ShinyCMS</a>
        </div>
