<button class="c-header-toggler c-class-toggler d-lg-none mr-auto"   type="button" data-target="#sidebar" data-class="c-sidebar-show"><span class="c-header-toggler-icon"></span></button><a class="c-header-brand d-sm-none" href="#"><img class="c-header-brand" src="/assets/coreui/brand/coreui-base.svg" width="97" height="46" alt="CoreUI Logo"></a>
<button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true"><span class="c-header-toggler-icon"></span></button>

<%= render partial: 'admin/includes/breadcrumbs' %>

<ul class="c-header-nav ml-auto mr-4">
  <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="c-avatar"><img class="c-avatar-img" src="/assets/coreui/img/avatars/6.jpg" alt="user@email.com"></div>
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0">
      <div class="dropdown-header bg-light py-2"><strong>Account</strong></div><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-bell"></use>
        </svg> Updates<span class="badge badge-info ml-auto">42</span></a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-envelope-open"></use>
        </svg> Messages<span class="badge badge-success ml-auto">42</span></a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-task"></use>
        </svg> Tasks<span class="badge badge-danger ml-auto">42</span></a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-comment-square"></use>
        </svg> Comments<span class="badge badge-warning ml-auto">42</span></a>
      <div class="dropdown-header bg-light py-2"><strong>Settings</strong></div><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-user"></use>
        </svg> Profile</a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-settings"></use>
        </svg> Settings</a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-credit-card"></use>
        </svg> Payments<span class="badge badge-secondary ml-auto">42</span></a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-file"></use>
        </svg> Projects<span class="badge badge-primary ml-auto">42</span></a>
      <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-lock-locked"></use>
        </svg> Lock Account</a><a class="dropdown-item" href="#">
        <svg class="c-icon mr-2">
          <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-account-logout"></use>
        </svg> Logout</a>
    </div>
  </li>
</ul>
