<title>
  ShinyCMS
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'admin-area', 'https://fonts.googleapis.com/css?family=Poppins&display=swap' %>
<%= favicon_link_tag %>
