<% route_set ||= nil %>
<% if route_set.present? %>
<%= paginate paged, window: 3, views_prefix: 'admin', route_set: route_set %>
<% else %>
<%= paginate paged, window: 3, views_prefix: 'admin' %>
<% end %>
<p id="pager-info">
  <%= page_entries_info paged %>
</p>
