<div class="c-sidebar-brand">
  <%= image_tag 'shinycms/ShinyCMS-logo.png', alt: 'ShinyCMS', class: 'c-sidebar-brand-full'      %>
  <%= image_tag 'shinycms/spiral.png',        alt: 'ShinyCMS', class: 'c-sidebar-brand-minimized' %>
</div>

<nav id="menu" role="nav">
  <%= render partial: 'admin/menu/menu' %>
</nav>
