<div class="c-sidebar-brand">
  <img class="c-sidebar-brand-full"      src="/images/shinycms/ShinyCMS-logo.png" alt="ShinyCMS">
  <img class="c-sidebar-brand-minimized" src="/images/shinycms/spiral.png"        alt="ShinyCMS">
</div>

<nav id="menu" role="nav">
  <%= render partial: 'admin/menu/menu' %>
</nav>
