<div class="c-sidebar-brand">
  <%= image_tag 'shinycms/ShinyCMS-logo.png', alt: 'ShinyCMS', class: 'c-sidebar-brand-full'      %>
  <%= image_tag 'shinycms/spiral.png',        alt: 'ShinyCMS', class: 'c-sidebar-brand-minimized' %>
</div>

<nav role="nav" class="c-sidebar-nav">
  <%= render partial: 'admin/menu/menu' %>
</nav>

<footer class="c-sidebar-footer">
  Powered by <a href="https://shinycms.org/">ShinyCMS</a>
</footer>
